.fonctionnements {

    & {
        width: 100%;
        height: 440px;
        margin-top: 50px;
    }

    &__section {
        @include display-title
    }

    &__title {
        padding-left: 20px;
    }

    &__description {
        padding-left: 20px;
        padding-right: 20px;
    }

    &__content {
        @include rectangle-choice;
    }

    &__number {
        @include rectangle-choice-circle;
    }

    &__text {
        flex-grow: 1;
        text-align: center;
        color: black;
        font-weight: bold;
    }

    .color-first-second-choice {
        color: #7E7E7E;
    }
    
    .color-third-choice {
        color: $primary-color;
    }
}