.header {

    & {
        width: 100%;
        height: 63px;
        flex-direction: column;
        @include elements-center
    }

    &__container {
        width: 100%;
        height: 63px;
        @include elements-center
    }

    &__logo {
        height: 36px;
    }

    &__location {
        width: 100%;
        height: 50px;
        background-color:#EAEAEA;
        box-shadow: inset 0 8px 8px -8px rgba(0,0,0,0.3);
        @include elements-center
    }

    &__title {
        padding-left: 17px;
        font-size: 16px;
    }

    .icon-size {
        height: 16px;
        width: 12px;
    }
}