.app {
    &__header {
        width: 100%;
        height: 113px;
        flex-direction: column;
        @include elements-center
    }

    &__logo-container {
        width: 100%;
        height: 63px;
        @include elements-center
    }

    &__logo-button {
        width: 30px;
        height: 30px;
        border: none;
        background-color: white;
        position: absolute;
        top: 17px;
        left: 17px;
        display: none;
        align-items: center;
        justify-content: center;
    }

    &__logo {
        height: 36px;
    }

    &__location-container {
        width: 100%;
        height: 50px;
        background-color:#EAEAEA;
        box-shadow: inset 0 8px 8px -8px rgba(0,0,0,0.3);
        @include elements-center
    }

    &__location-text {
        padding-left: 17px;
        font-size: 16px;
    }
}