/* Le code ci-dessous correspond à la version responsive uniquement */
/* Large devices (desktop, over/equal than 1440px) */
@media screen and (min-width: 1440px) {
  .header {
    &__link {
      top: 34px;
    }
  }

  .main__image {
    height: 383px;
  }

  .main__overlay {
    width: 1055px;
    left: 193px;
  }

  .restaurant {
    width: 1055px;
    left: 193px;

    &__menu {
      @include elements-center;
    }

    .menu {
      padding-left: 197.5px;
      padding-right: 197.5px;
    }
  }
}
