/* Le code ci-dessous correspond à la version responsive uniquement */
/* Large devices (tablette, desktop, over/equal than 1024px) */
@media screen and (min-width: 1024px) {
  .header {
    &__link {
      top: 34px;
    }
  }

  .main__image {
    height: 383px;
  }

  .main__overlay {
    width: 74%;
    left: 13.5%;
  }

  .restaurant {
    width: 74%;
    left: 13.5%;

    &__menu {
      @include elements-center;
    }

    .menu {
      padding-left: 197.5px;
      padding-right: 197.5px;
    }
  }
}
