@import "global";
@import "variables";
@import "mixins";
@import "header";
@import "footer";

.header {
  & {
    height: 63px;
  }

  &__link {
    width: 30px;
    height: 30px;
    border: none;
    background-color: white;
    position: absolute;
    top: 17px;
    left: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-arrow-left-size {
    color: black;
    font-size: 18px;
  }
}

.main__menu {
  position: relative;
  width: 100%;
  overflow: visible;
}

.main__image {
  width: 100%;
  height: 275px;
  display: block;
  object-fit: cover;
}

.main__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: $background-color;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  z-index: 2;
}

.restaurant {
  & {
    width: 100%;
    height: auto;
    background-color: $background-color;
    position: relative;
    z-index: 1;
    padding-left: 13px;
    padding-right: 13px;
  }

  &__menu {
    width: 100%;
    height: 29px;
    display: flex;
    flex-direction: row;
  }

  &__title {
    font-size: 28px;
    font-family: "Shrikhand", sans-serif;
    font-style: italic;
    font-weight: 500;
  }

  &__like {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: end;
    padding-left: 29px;
    padding-right: 29px;

    .fa-heart {
      font-size: 22px;
    }

    .fa-solid.fa-heart {
      display: none;
    }

    &:hover {
      .fa-regular.fa-heart {
        display: none;
      }

      .fa-solid.fa-heart {
        display: inline;
        color: transparent;
        background: linear-gradient(to bottom, $primary-color, $secondary-color);
        -webkit-background-clip: text;
        background-clip: text;
      }
    }
  }

    .menu {

        & {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            margin-top: 40px;
        }

        &__section {
            position: relative;
            width: 100%;
            height: 27px;

            &:before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 40px;
            height: 3px;
            background-color: $background-new-tag-color;
            }
        }

        &__title {
            font-size: 16px;
            font-weight: 300;
        }
    }

    .card {
        @include menu-card;
    }

    .button {
        & {
            width: 100%;
            height: 140px;
            @include elements-center;
        }

        &__content {
            width: 186px;
            height: 50px;
            @include elements-center;
            @include linear-gradient-button;
        }
    }
}