@import 'variables';
@import 'mixins';
@import 'header';
@import 'first-section';
@import 'second-section';

body {
    margin: 0px;
    padding: 0px;
    font-family: 'roboto', sans-serif;
}

.icon-size {
    height: 16px;
    width: 12px;
}

h1 {
    margin: 0px;
}

.color-first-second-choice {
    color: #7E7E7E;
}

.color-third-choice {
    color: $primary-color;
}

.app {

    &__restaurants {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: center;

        .restaurant {
            flex: 1 1 150px; // Chaque élément de restaurant prendra au moins 150px et grandira pour occuper l'espace disponible.

            &__image {
                width: 100%;
                height: auto;
                border-radius: 5px;
            }

            &__name {
                font-weight: bold;
            }

            &__info {
                color: #666;
            }
        }
    }

}