@import 'variables';
@import 'mixins';
@import 'header';
@import 'first-section';
@import 'second-section';
@import 'restaurants';

* {
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
}

.icon-size {
    height: 16px;
    width: 12px;
}

.color-first-second-choice {
    color: #7E7E7E;
}

.color-third-choice {
    color: $primary-color;
}

a {
    text-decoration: none;
}

.app {

    
}