.app__header {
  width: 100%;
  height: 113px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app__logo-container {
  width: 100%;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app__logo-button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: white;
  position: absolute;
  top: 17px;
  left: 17px;
  display: none;
  align-items: center;
  justify-content: center;
}
.app__logo {
  height: 36px;
}
.app__location-container {
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.app__location-text {
  padding-left: 17px;
  font-size: 16px;
}
.app .icon-size {
  height: 16px;
  width: 12px;
}

.app__first-section {
  width: 100%;
  height: 287px;
  flex-direction: column;
  background-color: #F6F6F6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app__first-section-title {
  width: 275px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app__title {
  margin: 0px;
  font-weight: 700;
  text-align: center;
  width: 100%;
  font-family: "Shrikhand", sans-serif;
}
.app__first-section-description {
  width: 315px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app__description {
  margin: 0px;
  text-align: center;
  font-weight: 300;
  color: #353535;
}
.app__explore-button {
  margin-top: 40px;
  width: 218px;
  height: 50px;
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  color: white;
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  outline: none;
}

.app__second-section {
  width: 100%;
  height: 440px;
  margin-top: 50px;
}
.app__second-section-title {
  width: 100%;
  font-family: "Shrikhand", sans-serif;
}
.app__title-second-section {
  padding-left: 20px;
}
.app__second-section-choice {
  padding-left: 20px;
  padding-right: 20px;
}
.app__second-section-first-choice, .app__second-section-second-choice, .app__second-section-third-choice {
  padding-left: 40px;
  padding-right: 20px;
  position: relative;
  margin-top: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 72.38px;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  box-sizing: border-box;
}
.app__rectangle-icon-first-number, .app__rectangle-icon-second-number, .app__rectangle-icon-third-number {
  position: absolute;
  top: 50%;
  left: 0;
  /*transform: translateY(-50%);*/
  transform: translate(-50%, -50%);
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.app__text-title {
  flex-grow: 1;
  text-align: center;
  color: black;
  font-weight: bold;
}
.app .color-first-second-choice {
  color: #7E7E7E;
}
.app .color-third-choice {
  color: #9356DC;
}

.app__restaurants {
  padding: 17.5px;
  height: 1226px;
  background-color: #F6F6F6;
}
.app__restaurant-container {
  width: 340px;
  height: 1058px;
}
.app__restaurants-title {
  width: 100%;
  font-family: "Shrikhand", sans-serif;
}
.app__title-restaurants {
  margin-top: 20px;
}
.app__restaurant-card {
  display: flex;
  flex-wrap: wrap;
}
.app__display-card {
  width: 100%;
  margin-top: 18px;
}
.app__card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.app__card__image {
  width: 100%;
  height: 174px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  object-position: center 60%;
}
.app__card__content {
  padding: 13px;
  color: black;
  display: flex;
}
.app__card__txt {
  width: 100%;
}
.app__card__title {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.app__card__subtitle {
  font-size: 17px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.app__footer {
  background-color: #353535;
  padding: 22px;
  padding-left: 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.app__footer-container {
  width: 139px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.app__footer-logo-content {
  height: 18px;
  filter: invert(100%);
}
.app__footer-link {
  width: 190px;
  height: 99px;
}
.app__footer-link-container {
  width: 190px;
  height: 99px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.app__link-first-txt-color {
  padding-left: 7px;
  color: white;
}
.app__link-second-txt-color {
  padding-left: 2.5px;
  color: white;
}
.app__link-third-txt-color, .app__link-fourth-txt-color {
  color: white;
}
.app__footer-first-link, .app__footer-second-link, .app__footer-third-link, .app__footer-fourth-link {
  margin-bottom: 7px;
}
.app__app-footer-first-link {
  gap: 10px;
}
.app .logo-footer-fork {
  color: white;
  display: inline-block;
  font-size: 13px;
}
.app .logo-footer-hand {
  color: white;
  display: inline-block;
  transform: rotate(135deg);
  font-size: 13px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "roboto", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}