.app__header {
  width: 100%;
  height: 113px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app__logo-container {
  width: 100%;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app__logo-button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: white;
  position: absolute;
  top: 17px;
  left: 17px;
  display: none;
  align-items: center;
  justify-content: center;
}
.app__logo {
  height: 36px;
}
.app__location-container {
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.app__location-text {
  padding-left: 17px;
  font-size: 16px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "roboto", sans-serif;
}

.icon-size {
  height: 16px;
  width: 12px;
}

h1 {
  margin: 0px;
}

.color-first-second-choice {
  color: #7E7E7E;
}

.color-third-choice {
  color: #9356DC;
}

.app__first-section {
  width: 100%;
  height: 287px;
  flex-direction: column;
  background-color: #F6F6F6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app__first-section-title {
  width: 275px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app__title {
  margin: 0px;
  font-weight: 700;
  text-align: center;
}
.app__first-section-description {
  width: 315px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app__description {
  margin: 0px;
  text-align: center;
  font-weight: 300;
  color: #353535;
}
.app__explore-button {
  margin-top: 40px;
  width: 218px;
  height: 50px;
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  color: white;
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  outline: none;
}
.app__second-section {
  top: 448px;
  width: 100%;
  height: 440px;
  padding-left: 20px;
}
.app__second-section-title {
  margin-top: 30px;
}
.app__second-section-first-choice, .app__second-section-second-choice, .app__second-section-third-choice {
  padding: 40px;
  position: relative;
  margin-top: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  width: 335px;
  height: 72.38px;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  box-sizing: border-box;
}
.app__rectangle-icon-first-number, .app__rectangle-icon-second-number, .app__rectangle-icon-third-number {
  position: absolute;
  top: 50%;
  left: 0;
  /*transform: translateY(-50%);*/
  transform: translate(-50%, -50%);
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.app__text-title {
  flex-grow: 1;
  text-align: center;
  color: black;
  font-weight: bold;
}